<div class="content art-content">
  <div>
    <div class="center-stage">
      <h1>Art</h1>
    </div>
    <div class="content-wrapper">
      <div class="side-info">
      </div>
      <div class="list-wrapper center-stage">
        <ul class="art-list">
          <li id="{{item.id}}" 
          *ngFor="let item of artList; let first = first"
           [ngClass]="{'landscape': !item.isProtaitMode}">
            <img title="{{item.title}}" alt="{{item.alt}}" src="{{item.url}}" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>