.art-list li {
    overflow: hidden;
    padding: 0px 2px;
    margin: 1px 0;
    height: 20em;
}

.art-list img {
    height: 100%;
    border: thin solid #e3e3e3;
}

/* For Phones - Start */
@media (max-width: 600px) {
    /*.art-list li.potrait {
        width: 50%;
    }*/
    .art-list li {
        width: 100%;
        height: auto;
    }

    .art-list img {
        width: 100%;
        height: auto;
    }
}