<div class="content art-content center-stage">
  <h1>Art</h1>
  <div class="content-wrapper view-check clearfix below-view" appJsOnscroll [viewportCheck]=true [checkAboveView]=false>
    <div class="main">
      <h2>A collection of my sketches and paintings</h2>
      <i class="icon-android-color-palette"></i>
    </div>
    <div class="feature-content">
    </div>
  </div>
  <router-outlet></router-outlet>
  <section class="list-wrapper" appJsOnscroll [viewportCheck]=true [checkAboveView]=false>
    <h2>Gallery</h2>
    <div class="loading-icon animate" [hidden]="!isLoading">
    </div>
    <div class="alert" [ngClass]="alertType" [hidden]="!alert">{{alert}}</div>
    <ul class="art-list clearfix" [hidden]="isLoading">
      <li id="{{item.id}}" *ngFor="let item of imageList; let first = first" [ngClass]="{'potrait col-xs-6 col-sm-3 col-md-3 col-lg-3': item.isPortrait,
                       'landscape col-xs-12 col-sm-6 col-md-6 col-lg-6': !item.isPortrait}">
        <div class="image-wrapper" (click)="showInGallery(item)">
          <img class="art-images" #imgItem [class.hide]="!item.visible" [title]="item.title" [src]="item.thumbUrl" (load)="updateProgress()" />
          <div class="image-title">{{item.title}}</div>
        </div>
      </li>
    </ul>
  </section>
</div>