.art-list li {
    position: relative;
    overflow: hidden;
    padding: 0px 2px;
    margin: 1px 0;
    height: 20em;
}

.art-list img {
    position: relative;
    height: 100%;
    border: thin solid #e3e3e3;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.8s;
}

.art-list img.hide {
    opacity: 0;
    transform: translateY(200px);
}

/* For Phones - Start */
@media (max-width: 600px) {
    /*.art-list li.potrait {
        width: 50%;
    }*/
    .art-list li {
        width: 100%;
        height: auto;
    }

    .art-list img {
        width: 100%;
        height: auto;
    }
}