<div class="content art-content center-stage">
  <h1>Art</h1>
  <div class="feature-wrapper">
    <div class="content-wrapper clearfix below-view" viewportCheck>
      <div class="main">
        <h2>A collection of my sketches and paintings</h2>
        <i class="icon-android-color-palette"></i>
      </div>
      <div class="feature-content">
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <section #container class="list-wrapper">
    <h2>Gallery</h2>
    <div class="loading-icon animate" [hidden]="!isLoading">
    </div>
    <div class="alert" [ngClass]="alertType" [hidden]="!alert">{{alert}}</div>
    <div class="art-list">
      <div class="image-row clearfix view-check" [class.animated-background]="isDownloading" *ngFor="let row of galleryLayout; let i = index" viewportCheck noDecorate=true 
          (enteredViewport)="animateRowItems(row, i)">
        <div class="image-item" *ngFor="let image of row" [style.width.px]="image.thumbWidth" [style.height.px]="image.thumbHeight">
          <div class="image-placeholder">
            <div class="image-wrapper" #elem (click)="showInGallery(image, elem)" *ngIf="rowLoadMap[i].loaded" [class.active]="currentImage && currentImage.title === image.title" [class.hide]="!image.visible">
              <img class="art-images" [title]="image.title" [src]="image.thumbUrl" (load)="updateProgress(image, row, i)" />
              <div class="image-title">{{image.title}}</div>
              <div class="shadow"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>