<div class="carousel-wrapper">
  <ul class="carousel-list">
    <li id="{{item.id}}" class="carousel-item" 
        *ngFor="let item of slideItems; let first = first" 
        [ngClass]="{'active': item.active,
                    'left': item.left,
                    'right': item.right,
                    'next': item.next,
                    'prev': item.prev}">
        <img title="{{item.title}}" alt="{{item.alt}}" src="{{item.url}}" />
    </li>
  </ul>
  <div class="arrow-btn left" (click)="showPrev()">
    <i class="icon-android-arrow-back"></i>
  </div>
  <div class="arrow-btn right" (click)="showNext()">
    <i class="icon-android-arrow-forward"></i>
  </div>
</div>
