.featured-project {
    position: relative;
    float: left;
    width: 60%;
    min-height: 16em;
    background: #FFFFFF;
    font-size: 1.25em;
    font-family: Roboto;
    border: thin solid #efefef;
    padding: 1em;
}

.all-projects-container {
    margin-top: 100px;
}

.project-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2em 0 5em;
}

.project-card {
    position: relative;
    width: 48%;
    min-height: 300px;
    background: #FFFFFF;
    padding: 1.5em;
    border: thin solid #efefef;
    box-shadow: 0 3px 10px rgba(56, 55, 55, 0.06);
    font-family: Roboto;
    margin-bottom: 2em;
}

.title {
    margin: 0 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.title h3 {
    font-family: Playfair Display;
    font-weight: normal;
    font-size: 1.6em;
    margin: 0;
    font-weight: normal;
    margin-top: -0.2em;
}

.github-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    padding: 0 5px 0 10px;
    border-radius: 20px;
    font-size: 0.8em;
    border: thin solid #ccc;
}
.github-link:hover {
    border-color: #28a6e4;
    background: #ebebeb;
}
.github-link span {
    white-space: nowrap;
}
.github-link i {
    font-size: 1.5em;
    padding: 5px 0 0 5px;
}

.footer {
    position: absolute;
    bottom: 1em;
}

.color-band {
    width: 2px;
    margin-right: 10px;
    height: 51px;
    position: absolute;
    left: 0;
    top: 10px;
}

.color-band.red {
    background-color: #f44336;
}

.color-band.magenta {
    background-color: #c6116b;
}

.tag-list {
    margin: 1em 0;
}

.tag-list li {
    display: inline-block;
    padding: 5px 10px 5px 5px;
    font-size: 0.75em;
    background: #f0f0f0;
    margin-right: 5px;
    border-radius: 15px;
}

.tag-color {
    height: 1em;
    width: 1em;
    display: inline-block;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}

.tag-color.firebase {
    background-color: #ffca28;
}

.tag-color.angular,
.tag-color.angular-js {
    background-color: #dd0031;
}

.tag-color.node {
    background-color: #026e00;
}

.tag-color.express {
    background-color: #555;
}

.tag-color.mongo {
    background-color: #13aa52;
}

.tag-color.material {
    background-color: #3f51b5;
}

@media (max-width: 650px) {
    .project {
        width: 100%
    }
    .project-card {
        font-size: 1.25em;
    }
}