.contact-form {
    padding-left: 10px;
}

.input-wrapper input.last-name {
    border-left: none;
}

.input-wrapper div.border-highlight {
    background: #0ab779;
}

.message {
    height: 143px;
}

.button-wrapper {
    width: 100%;
}

.button-wrapper .background {
    background: #0ab779;
}

button.submit-contact {
    width: 100%;
    border-color: #0ab779;
    color: #454545;;
    font-size: 1.1em;
    padding: 10px;
    letter-spacing: normal;
}

.button-wrapper:hover button {
    color: #ffffff;
}