.input-wrapper div.border-highlight {
    background: #0ab779;
}

.message {
    height: 143px;
}

.button-wrapper {
    width: 100%;
}

.button-wrapper .background {
    background: #0ab779;
}

button.submit-contact {
    width: 100%;
    border-color: #0ab779;
    color: #454545;;
    font-size: 1.1em;
    padding: 10px;
    letter-spacing: normal;
}

.button-wrapper:hover button {
    color: #ffffff;
}

.tile-wrapper.facebook {
    background-color: #3b5998;
}
.tile-wrapper.instagram {
    background-color: #ffffff;
}
.tile-wrapper.linkedin {
    background-color: #0077b5;
}
.tile-wrapper.whatsapp {
    background-color: #25D366;
}

.tile-wrapper.instagram img {
    height: 11vw;
    width: 11vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s;
}

@media (min-width: 992px) {
    .input-wrapper input.last-name {
        border-left: none;
    }
}

/* Large Screen - Start */
@media (min-width: 1200px) {
    .tile-wrapper.instagram img {
        width: 7vw;
        height: 7vw;
    }
}
@media (min-width: 1800px) {
    .tile-wrapper.instagram img {
        width: 5vw;
        height: 5vw;
    }
}
/* Large Screen - End */