.gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.2s;
}

.gallery.show {
    opacity: 1;
}

.image-container {
    position: relative;
    text-align: center;
    height: 100%;
}

.image-container .thumb {
    position: fixed;
    transition: all 0.1s ease-out;
}

.image-container .image {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    margin: auto;
    height: 100%;
    transition: width 0.1s ease-out;
    overflow: hidden;
}

.image-container .file-item {
    position: absolute;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    margin: auto;
}

.image-container .file-item.hide {
    opacity: 0;
}

.icon-wrapper {
    position: fixed;
    top: 0;
    margin: 0.25em;
    font-size: 2em;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 0.7;
    outline: none;
    z-index: 10;
}

.icon-wrapper:hover {
    opacity: 1;
}

.info-button {
    left: 0;
    margin: 0.5em;
}

.close-button {
    right: 0;
    font-size: 3em;
}

.image-list-wrapper {
    position: fixed;
    bottom: 0;
    height: 120px;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    transform: translate3d(0, 80px, 0);
    -webkit-transform: translate3d(0, 80px, 0);
    -moz-transform: translate3d(0, 80px, 0);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
}

.image-list-wrapper.show,
.image-list-wrapper:hover {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.image-list-wrapper ul {
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.image-list-wrapper li {
    float: left;
}

.image-list-wrapper * {
    height: 100%;
}

.image-list-wrapper img {
    opacity: 0.5;
}

.image-list-wrapper img:hover,
.image-list-wrapper img.active {
    opacity: 1;
    box-shadow: 0 0 0 2px #FFFFFF;
}

.image-wrapper {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 0;
    transition: margin-left 0.5s;
}

.image-wrapper.with-info {
    margin-left: 300px
}

.image-container .loading-icon {
    position: fixed;
    top: 0;
    bottom: 0;
}

.image-info-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: rgba(67, 67, 67, 0.78);
    vertical-align: top;
    padding: 70px 20px;
    color: #FFFFFF;
    text-align: left;
    z-index: 2;
    transform: translateX(-300px);
    transition: transform 0.5s ease-out;
}

.image-info-panel.show {
    transform: translateX(0);
}

.image-info-panel h1 {
    font-weight: 100;
    font-size: 2em;
    margin: 0;
}

.image-info-panel .desc {
    font-family: 'Roboto', sans-serif;
    padding: 8px 2px;
    font-size: 21px;
    font-weight: 100;
}

.arrow-btn {
    position: absolute;
    margin: 0.5em;
}

@media (max-width: 650px) {
    .image-container .file-item {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .image-wrapper.with-info {
        margin-left: 0;
    }
}