section.background {
    position: absolute;
    background: #fafafa;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.graphics {
    /*background: darkmagenta;*/
    height: 1000px;
    width: 100%;
    position: absolute;
}

.main-header, .main-content, main-footer {
    position: relative;
    width: 80%;
    margin: auto;
}

.js-logo {
    position: relative;
    display: inline-block;
    background: black;
    width: 5em;
    height: 4em;
}

/* Tab Styles - Start */

@media (max-width: 950px) {
    .main-header, .main-content, main-footer {
        width: 90%;
    }
}
/* Tab Styles - End */

/* Mobile Styles - Start */
@media (max-width: 500px) {
    header.main-header {
        background: transparent;
        z-index: 5;
    }
    .js-logo {
        background: #FFFFFF;
        margin-left: 0.5em;
    }
}