<section class="background">
  <me-card (onStateChange)="restoreOverviewsInitial($event)"></me-card>
  <div class="main-content center-stage">
      <div class="overview art-overview below-view" appJsOnscroll [restoreInitial]="restoreInitial" [viewportCheck]=true [padding]=200 (onStateChange)="animateEnter($event)" >
        <div class="dp overview-dp">
          <h2>Art</h2>
          <div class="alpha-initial-bg">A</div>  
          <div class="underline"></div>      
        </div>
        <div class="overview-content-wrapper">
            <div class="overview-content">
            </div>
        </div>
      </div>
      <div class="overview art-overview below-view" appJsOnscroll [restoreInitial]="restoreInitial" [viewportCheck]=true [padding]=200 (onStateChange)="animateEnter($event)" >
        <div class="dp overview-dp">            
        </div>
        <div class="overview-content-wrapper">
            <div class="overview-content">
            </div>
        </div>
      </div>
      <div class="overview art-overview below-view" appJsOnscroll [restoreInitial]="restoreInitial" [viewportCheck]=true [padding]=200 (onStateChange)="animateEnter($event)" >
        <div class="dp overview-dp">            
        </div>
        <div class="overview-content-wrapper">
            <div class="overview-content">
            </div>
        </div>
      </div>
      <div class="overview art-overview below-view" appJsOnscroll [restoreInitial]="restoreInitial" [viewportCheck]=true [padding]=200 (onStateChange)="animateEnter($event)" >
        <div class="dp overview-dp">            
        </div>
        <div class="overview-content-wrapper">
            <div class="overview-content">
            </div>
        </div>
      </div>
      <div class="overview art-overview below-view" appJsOnscroll [restoreInitial]="restoreInitial" [viewportCheck]=true [padding]=200 (onStateChange)="animateEnter($event)" >
        <div class="dp overview-dp">            
        </div>
        <div class="overview-content-wrapper">
            <div class="overview-content">
            </div>
        </div>
      </div>
  </div>
  <footer class="main-footer"></footer>
</section>
