.center-stage {
    width: 80%;
    max-width: 55em;
    margin-left: auto;
    margin-right: auto;
}
.dp {
    position: relative;
    float: left;
    width: 35%;
    height: 19.3em;
    overflow: hidden;
    z-index: 5;
}
.dp>img {
    height: 100%;
    float: right;
}

/* Button Styles - Start */
button {
    position: relative;
    display: block;
    border: thin solid;
    padding: 15px;
    background: transparent;
    margin: auto;
    font-family: 'Playfair Display', serif;
    letter-spacing: 4px;
}
/* Button Styles - End */

/* Tab Styles - Start */
@media (max-width: 950px) {
    .center-stage {
        width: 90%;
    }
}
/* Tab Styles - End */

/* Mobile Styles - Start */
@media (max-width: 650px) {
    .dp {
        width: 100%;
    }

    .dp>img {
        width: 100%;
        height: auto;
    }
}
/* Mobile Styles - End */