.center-stage {
    width: 80%;
    max-width: 55em;
    margin-left: auto;
    margin-right: auto;
}
.content-wrapper {
    margin-top: 2em;
}
.dp {
    position: relative;
    float: left;
    width: 35%;
    height: 19.3em;
    overflow: hidden;
    z-index: 5;
}
.dp>img {
    height: 100%;
    float: right;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.loading-icon {
    position: absolute;
    font-size: 3em;
    color: #454545;
    margin: auto;
    width: 1em;
    height: 1em;
    left: 0;
    right: 0;
    display: none;
}
.loading-icon i {
    position: absolute;
    margin-top:-4px;
}
.loading-icon.animate {
    display: block;
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
/* Button Styles - Start */
button {
    position: relative;
    display: block;
    border: thin solid;
    padding: 15px;
    background: transparent;
    margin: auto;
    font-family: 'Playfair Display', serif;
    letter-spacing: 4px;
}
/* Button Styles - End */

/* Tab Styles - Start */
@media (max-width: 950px) {
    .center-stage {
        width: 90%;
    }
}
/* Tab Styles - End */

/* Mobile Styles - Start */
@media (max-width: 650px) {
    .dp {
        width: 100%;
    }

    .dp>img {
        width: 100%;
        height: auto;
    }
}
/* Mobile Styles - End */