<div class="gallery">
  <div class="background" [ngClass]="{'show': show}"></div>
  <div class="image-container" *ngIf="currentItem">
    <div class="initial-loader loading-icon animate" [hidden]="!(imageReady && loadingGallery)"></div>
    <div class="image-info-panel" [class.show]="showInfo">
      <h1>{{currentItem.title}}</h1>
      <div class="desc">{{currentItem.desc}}</div>
    </div>
    <div class="image-wrapper" [class.with-info]="showInfo" (swipeleft)="nextImage()" (swiperight)="prevImage()">
      <div class="image" [style.width.px]="dimension?.width">
        <img class="thumb" [hidden]="(imageReady && !loadingGallery)" [style.top.px]="dimension?.top"
          [style.height.px]="dimension?.height" [style.left.px]="dimension?.left" [src]="currentItem.thumbUrl" />
        <img class="file-item" [hidden]="!(imageReady && !loadingGallery)" [src]="currentItem.fileUrl" alt="{{currentItem.title}}" (load)="onLoadComplete($event)" />
      </div>
      <div class="icon-wrapper arrow-btn left" (click)="prevImage()">
        <i class="icon-ios-arrow-thin-left"></i>
      </div>
      <div class="icon-wrapper arrow-btn right" (click)="nextImage()">
        <i class="icon-ios-arrow-thin-right"></i>
      </div>
    </div>
  </div>
  <div class="image-list-wrapper">
    <ul class="art-list clearfix">
      <li id="{{item.id}}" *ngFor="let item of galleryList; let first = first">
        <img class="art-images" [ngClass]="{'active': checkIfCurrentItem(item)}" class="hide" title="{{item.title}}"
          [src]="item.thumbUrl" (click)="changeImage(item)" />
      </li>
    </ul>
  </div>
  <div class="icon-wrapper info-button" (click)="toggleShowInfo()">
    <span class="icon-ios-information-outline"></span>
  </div>
  <div class="icon-wrapper close-button" (click)="closeGallery()">
    <span class="icon-ios-close-empty"></span>
  </div>
</div>