.blog-card {
    position: relative;
    width: 48%;
    min-height: 200px;
    background: #FFFFFF;
    padding: 1.5em;
    border: thin solid #efefef;
    box-shadow: 0 3px 10px rgba(56, 55, 55, 0.06);
    font-family: Roboto;
    font-weight: 200;
    margin-bottom: 1em;
}

.featured-blog {
    position: relative;
    float: left;
    background: #FFFFFF;
    font-size: 1.25em;
    font-family: Roboto;
    border: thin solid #e4e2e2;
    padding: 1em;
    margin: 0;
    min-height: 0;
}

.cover-art {
    height: 250px;
    background: linear-gradient(140deg, #e80a1c, #f36034);
    margin: -1.5em -1.5em 2em;
}

.title {
    margin: 0 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title h3 {
    font-size: 1.6em;
    margin: 0;
    font-weight: 200;
    margin-top: -0.2em;
}

.desc {
    padding: 0.5em 0 1.5em;
    color: #6f6f6f;
}

.date {
    padding-bottom: 10px;
}

.footer {
    position: absolute;
    bottom: 1em;
}

.tag-list li {
    display: inline-block;
    padding: 5px 10px 5px 5px;
    font-size: 0.75em;
    background: #f0f0f0;
    margin-right: 5px;
    border-radius: 15px;
}

.tag-color {
    height: 1em;
    width: 1em;
    display: inline-block;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}

@media (max-width: 650px) {
    .content .feature-content.blog-card {
        width: 100%;
        padding-left: 1em;
    }
}