<div class="content blog-content center-stage">
  <h1>Blog</h1>
  <div class="feature-wrapper">
    <div class="prime-card clearfix below-view" viewportCheck>
      <div class="dp main">
        <h2>My blogs posts</h2>
        <i class="icon-ios-chatboxes"></i>
      </div>
      <div class="info-wrapper">
        <div class="card feature-content featured-blog">
          <div class="title">
            <h3>Work in progress</h3>
            <a routerLink="/blog/new-article">
              <div class="button-wrapper">
                <div class="background"></div>
                <button>READ</button>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="blog-list">
    <h2>All Blog posts</h2>
    <ul>
      <li *ngFor="let post of posts | async" class="card view-check below-view" viewportCheck>
        <!-- <div class="cover-art"></div> -->
        <div class="info">
          <div class="title">
            <h3>{{post.title}}</h3>
          </div>
          <div class="desc">{{post.summary}}</div>
          <div class="date">{{post.date | date}}</div>
        </div>
      </li>
    </ul>
  </section>
</div>