<div class="main-header" [ngClass]="{
                'fix-header': headerState.state === HEADER_STATE.Fixed, 
                'initial-header': headerState.state === HEADER_STATE.Initial, 
                'search-header': headerState.showSearch, 
                'show-menu': headerState.showMenu }">
    <header class="logo-header center-stage">
        <div class="menu-section" (click)="toggleMenu(); $event.stopPropagation();">
            <div class="menu-icon-top"></div>
            <div class="menu-icon"></div>
            <div class="menu-icon-bottom"></div>
        </div>
        <div class="logo-section" (click)="goToHome()">
            <i class="icon-logo-svg"></i>
        </div>
        <div class="search-wrapper" (clickedOut)="hideSearch($event)">
            <form class="search-form" (ngSubmit)="search(keyword)">
                <label for="searchTerm">Search</label>
                <div class="search-input">
                    <button type="button" label="Search" aria-label="Search content" (click)="toggleSearch(); $event.stopPropagation();">
                        <i class="search-button icon-ios-search"></i>
                    </button>
                    <input #searchInput id="searchTerm" name="keyword" type="text" class="search" placeholder="Search"
                        [(ngModel)]="keyword" autocomplete="off" />
                </div>
            </form>
        </div>
    </header>
    <div class="main-loader loading-icon animate" [hidden]="!loading"></div>
    <section class="hello-card" [hidden]="headerState.state != HEADER_STATE.Initial">
        <div class="overlay"></div>
        <div class="initial-loader loading-icon animate"></div>
        <div class="hello">
            <span>Hello there!</span>
        </div>
    </section>
    <section class="me-card-wrapper center-stage">
        <div class="me-card" [style.width]="carouselLoadProgress + '%'">
            <div class="dp my-dp">
                <js-ng-carousel [slideItems]=slideList [play]=play [config]="carouselConfig" [style.width.%]="100"
                    [style.height.%]="100" (carouselLoading)="onCarouselLoadProgress($event)"></js-ng-carousel>
            </div>
            <div class="info-wrapper">
                <h1 class="name">Jayabratha Saha</h1>
                <div class="title">Artist & Developer</div>
                <a class="github-link" href="https://github.com/Jayabratha">
                    <i class="icon-social-github"></i>
                </a>
            </div>
        </div>
    </section>
    <div class="search-result-wrapper center-stage" [hidden]="!headerState.showSearch">
        <div class="initial-message" [hidden]="!(isSearchAvailable && !resultsPage)">
            <i class="icon-ios-search"></i>
            <div>Type in above to see matched content</div>
        </div>
        <div class="initial-message" [hidden]="!(isSearchAvailable && noResults)">
            <i class="icon-ios-information-outline"></i>
            <div>No results found! Try some other keywords</div>
        </div>
        <div class="initial-message" [hidden]="isSearchAvailable">
            <i class="icon-ios-information-outline"></i>
            <div>Ops! Search is temporarily unavailable</div>
        </div>
        <ul class="search-results">
            <li [@fadeIn]="''" *ngFor="let result of searchResults" tabindex="-1" #searchResult>
                <div class="search-result" (click)="selectResult(result)">
                    <div>
                        <div class="inline-middle result-thumb" [ngStyle]="{ 'background-image': 'url(' + result.thumbLink + ')'}">
                        </div>
                        <div class="inline-middle result-info">
                            <div class="result-name">{{result.name}}</div>
                            <div class="result-desc">{{result.desc}}</div>
                        </div>
                    </div>
                    <div class="result-type">{{result.type}}</div>
                </div>
            </li>
        </ul>
    </div>
    <nav class="site-nav center-stage">
        <ul class="site-nav-list">
            <li *ngFor="let navItem of navItems" [class.show]="navItem.visible" (mouseenter)="activeNav=navItem.id"
                (mouseleave)="activeNav=''" [routerLink]="navItem.link">{{navItem.label}}</li>
        </ul>
    </nav>
    <div class="scroll-up-indicator"></div>
    <div class="nav-highlighter-wrapper center-stage absolute-bottom">
        <div class="nav-highlighter" [ngClass]="activeNav"></div>
    </div>
</div>
<div class="menu-background" [hidden]="!((headerState.state === HEADER_STATE.Fixed && headerState.showMenu) || headerState.showSearch)"></div>