<div class="main-header" [ngClass]="{'fix-header': isHeaderFix, 'initial-header': isInitial, 'show-menu': showMenu}" >
    <div class="logo-menu center-stage">
        <div class="menu-section" (click)="toggleMenu()">
            <div class="menu-icon-top"></div>
            <div class="menu-icon"></div>
            <div class="menu-icon-bottom"></div>
        </div>
        <div class="logo-section">
            <i class="icon-logo-svg"></i>
        </div>
    </div>
    <section class="hello-card">
        <div class="overlay"></div>
        <div class="hello"><span>Hello World!</span></div>
    </section>
    <section class="me-card-wrapper center-stage">
        <div class="me-card">
            <div class="dp my-dp">
                <app-js-carousel [slideItems]=slideList></app-js-carousel>
            </div>
            <div class="my-card-wrapper" appJsOnscroll padding=60 [activateScroll]=activateScroll (onStateChange)="headerStateChange($event)">
                <div id="test" class="my-card">
                    <h1 class="name">Jayabratha Saha</h1>
                    <div class="title">Artist & Developer</div>
                    <div class="github-link"><i class="icon-social-github"></i></div>
                </div>
            </div>
        </div>
    </section>
    <nav class="site-nav center-stage absolute-bottom">
        <ul class="site-nav-list">
            <li (mouseenter)="activeNav='art'" (mouseleave)="activeNav=''" routerLink="/art">Art</li>
            <li (mouseenter)="activeNav='projects'" (mouseleave)="activeNav=''">Projects</li>
            <li (mouseenter)="activeNav='skills'" (mouseleave)="activeNav=''">Blog</li>
            <li (mouseenter)="activeNav='about'" (mouseleave)="activeNav=''">About</li>
            <li (mouseenter)="activeNav='contact'" (mouseleave)="activeNav=''">Contact</li>
        </ul>
    </nav>
    <div class="nav-highlighter-wrapper center-stage absolute-bottom">
        <div class="nav-highlighter" [ngClass]="activeNav"></div>
    </div>
</div>
