.main-header {
    position: absolute;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border-bottom: 1px solid rgba(0,0,0,.09);
    padding: 10em 0 2em; 
}

.hello-card {
    position: absolute;
    width: 3em;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 4em;
    line-height: 1em;
    color: #696969;
    opacity: 0;
    transition: opacity 0.5s;
}

.me-card {
    max-width: 55em;
    width: 80%;
    height: 19.3em;
    margin: 0 auto 0;
    background: #FFFFFF;
    transition: all 0.5s ease-out;
    overflow: hidden;
}

.my-dp {
    position: relative;
    float: left;
    width: 35%;
    height: 19.3em;
    overflow: hidden;
    z-index: 5;
    transition: all 0.5s ease-in;
}

.my-dp>img {
    height: 100%;
    float: right;
}

.my-card {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2em;
    padding-left: 40%;
    color: #FFFFFF;
    background: linear-gradient(140deg, #f31b48, #f31b48, #940590, #0ab779);
    transition: all 0.5s; 
}

.name {
    position: relative;
    font-family: 'Playfair Display', serif;
    font-size: 5em;
    line-height: 1em;
    transition: all 0.5s;
}

.title {
    padding: 2em 0;
    font-size: 1em;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: all 0.5s;
}

.github-link {
    position: absolute;
    right: 0.5em;
    font-size: 2.5em;
    top: 0.5em;
    transition: all 0.5s ease-in;
}
/* Initial Header Styles - Start */
.initial-header .hello-card {
    opacity: 1;
}

.initial-header .me-card {
    margin-top: 19.25em;
    height: 0.15em;
    transition: none;
}

.initial-header .my-dp,
.initial-header .name,
.initial-header .title,
.initial-header .github-link  {
    opacity: 0;
}
.initial-header .site-nav-list>li {
    opacity: 0;
}
.initial-header .my-card {
    height: 0.15em;
    padding-top: 0;
    padding-bottom: 0;
}
/* Initial Header Styles - End */

/* Fixed Header Styles - Start */
.main-header.fix-header {
    position: fixed;
    width: 100%;
    padding: 50px 0 0;
}

.fix-header .me-card {
    position: relative;
    height: 0.15em;
}

.fix-header .my-dp,
.fix-header .name,
.fix-header .title,
.fix-header .github-link  {
    opacity: 0;
}

.fix-header .my-card {
    position: relative;
    width: 100%;
    height: 0.15em;
    padding-top: 0;
    padding-bottom: 0;
}

.fix-header ul.site-nav-list {
    padding: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}
/* Fixed Header Styles - End */

/* Nav Style */
ul.site-nav-list {
    list-style: none;
    max-width: 55em;
    width: 80%;
    height: 4em;
    margin: 0 auto;
    padding: 5em 0 2em;
    transition: all 0.5s ease-in;
}

ul.site-nav-list li {
    font-size: 1.1em;
    float: left;
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
    width: 20%;
    color: #b2b2b2;
}

ul.site-nav-list li.active {
    color: black;
}

/* Tab Styles - Start */
@media (max-width: 950px) {
    .me-card {
        width: 90%;
    }
}
/* Tab Styles - End */

/* Mobile Styles - Start */
@media (max-width: 650px) {
    .hello-card {
        margin-top: 3em;
    }
    .main-header {
        padding-top: 1.5em; 
    }

    .me-card {
        position: relative;
        height: 41.5em;
    }

    .my-card-wrapper {
        position: relative;
        margin-top: 95%;
        height: 14.4em;
    }

    .my-card, .my-dp {
        width: 100%;
        height: auto;
        font-size: 10px;
    }

    .my-dp {
        width: 100%;
        height: auto;
    }

    .my-dp>img {
        width: 100%;
        height: auto;
    }

    .my-card {
        position: absolute;
        bottom: 0;
        padding-left: 2em;
        background: linear-gradient(140deg, #f31b48, #940590, #0ab779);
    }

    .site-nav {
        display: none;
    }

    /* Fixed Header Styles - Start */
    .fix-header .my-dp {
        display: none;
    }
    .fix-header .my-card {
        margin-top: 0
    }
    .fix-header .my-card-wrapper {
        margin-top: 0;
        height: 0;
    }
    /* Fixed Header Styles - End */

    /* Initial Header Styles - Start */
    .initial-header .me-card {
        margin-top: 41.5em;
        height: 0.15em;
    }
    .initial-header .my-card-wrapper {
        position: relative;
        margin-top: 0;
        height: 0.15em;
    }
    .initial-header .my-dp {
        display: none;
    }
    .initial-header .my-card {
        margin-top: 0;
    }
    /* Initial Header Styles - End */
}

@media (max-width: 650px) and (min-width: 450px) {
    .me-card {
        width: 80%;
        max-width: 370px;
    }

}

@media (max-width: 400px) {
    .me-card {
        height: 38.5em;
    }
    .initial-header .me-card {
        margin-top: 38.5em;
        height: 0.15em;
    }
}
@media (max-width: 330px) {
    .me-card {
        height: 35.5em;
    }
    .initial-header .me-card {
        margin-top: 35.5em;
        height: 0.15em;
    }
}