<div class="main-header" [ngClass]="{'fix-header': isHeaderFix || showMenu, 'initial-header': isInitial, 'show-menu': showMenu, 'search-header': showSearch }">
    <div class="logo-menu center-stage">
        <div class="menu-section" (click)="toggleMenu(); $event.stopPropagation();">
            <div class="menu-icon-top"></div>
            <div class="menu-icon"></div>
            <div class="menu-icon-bottom"></div>
        </div>
        <div class="logo-section" routerLink="/home" (click)="showMenu = false;">
            <i class="icon-logo-svg"></i>
        </div>
        <div class="search-wrapper" (clickedOut)="hideSearch($event)">
            <form class="search-form" (ngSubmit)="search(keyword)">
                <label for="searchTerm">Search</label>
                <input #searchInput id="searchTerm" name="keyword" type="text" class="search" placeholder="Search" [(ngModel)]="keyword" autocomplete="off" />
                <button type="button" label="Search" aria-label="Search content" (click)="toggleSearch(); $event.stopPropagation();">
                    <i class="search-button icon-ios-search"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="main-loader loading-icon animate" [hidden]="!loading"></div>
    <section class="hello-card">
        <div class="overlay"></div>
        <div class="initial-loader loading-icon animate"></div>
        <div class="hello">
            <span>Hello there!</span>
        </div>
    </section>
    <section class="me-card-wrapper center-stage" appJsOnscroll [padding]=requiredPadding [activateScroll]="activateScroll" (onStateChange)="headerStateChange($event)">
        <div class="me-card" [style.width]="carouselLoadProgress + '%'" [attr.aria-hidden]="isHeaderFix || showMenu || showSearch">
            <div class="dp my-dp">
                <app-js-carousel [slideItems]=slideList [play]=play (carouselReady)="onCarouselReady($event)" (carouselLoading)="onCarouselLoadProgress($event)"></app-js-carousel>
            </div>
            <div class="my-card-wrapper">
                <h1 class="name">Jayabratha Saha</h1>
                <div class="title">Artist & Developer</div>
                <div class="github-link">
                    <i class="icon-social-github"></i>
                </div>
            </div>
        </div>
    </section>
    <div class="search-result-wrapper">
        <div class="initial-message" [hidden]="!showSearch || this.resultsPage">
            <i class="icon-ios-search"></i>
            <div>Type in above to see matched content</div>
        </div>
        <ul class="search-results">
            <li [@fadeIn]="''" *ngFor="let result of searchResults" tabindex="-1" #searchResult>
                <div class="search-result">
                    {{result.name}}
                </div>
            </li>
        </ul>
    </div>
    <nav class="site-nav center-stage absolute-bottom" (clickedOut)="hideMenu()">
        <ul class="site-nav-list">
            <li #navItem (mouseenter)="activeNav='art'" (mouseleave)="activeNav=''" routerLink="/art" (click)="showMenu = false;">Art</li>
            <li #navItem (mouseenter)="activeNav='projects'" (mouseleave)="activeNav=''" routerLink="/projects" (click)="showMenu = false;">Projects</li>
            <li #navItem (mouseenter)="activeNav='blog'" (mouseleave)="activeNav=''" routerLink="/blog" (click)="showMenu = false;">Blog</li>
            <li #navItem (mouseenter)="activeNav='about'" (mouseleave)="activeNav=''" routerLink="/about" (click)="showMenu = false;">About</li>
            <li #navItem (mouseenter)="activeNav='contact'" (mouseleave)="activeNav=''" routerLink="/contact" (click)="showMenu = false;">Contact</li>
        </ul>
    </nav>
    <div class="nav-highlighter-wrapper center-stage absolute-bottom">
        <div class="nav-highlighter" [ngClass]="activeNav"></div>
    </div>
</div>
<div class="menu-background" [hidden]="!showMenu && !showSearch"></div>