.main-header {
    position: relative;
    width: 100%;
    background: #fff;
    height: 95vh;
    box-shadow: 0 0.125em 20px rgba(0, 0, 0, .1);
    transition: height 0.5s ease-out;
    z-index: 1;
}

.logo-header {
    position: fixed;
    top: 0;
    margin: 0.65em auto;
    left: 0;
    right: 0;
    z-index: 7;
}

.menu-section,
.logo-section {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 3em;
    height: 2.4em;
    background: #212121;
    opacity: 1;
    transition: background-color 0.5s, margin 0.5s, opacity 0.3s;
    outline: none;
    cursor: pointer;
    z-index: 3;
}

.menu-section {
    background: transparent;
}

.menu-icon,
.menu-icon-top,
.menu-icon-bottom {
    position: absolute;
    background-color: #212121;
    top: 1.2em;
    left: 0;
    right: 0;
    margin: auto;
    width: 1.8em;
    height: 0.125em;
    content: '';
    -webkit-transition: all .5s;
    transition: all .5s;
}

.logo-section {
    margin-left: -3em;
}

.search-button {
    float: right;
    font-size: 1.8em;
    margin: 4px 8px;
    color: #212121;
}

.hello-card {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 2.8em;
    font-size: 4em;
    line-height: 1em;
    color: #696969;
    opacity: 0;
    transition: opacity 0.5s;
}

.loading-icon.initial-loader {
    position: relative;
    margin-bottom: 0.2em;
    height: 0.25em;
    width: 0.25em;
}

.me-card-wrapper {
    position: relative;
    box-sizing: content-box;
    padding-top: 25vh;
    height: 19.3em;
    overflow: hidden;
    z-index: 4;
    transition: height 0.5s;
}

.menu-background {
    position: fixed;
    top: 3.7em;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background: rgba(243, 242, 242, 0.9);
}

.me-card {
    position: relative;
    margin: 0 auto 0;
    height: auto;
    transform: translate3d(0, 0, 0);
    left: 0;
    right: 0;
    background: linear-gradient(140deg, #ff9800, #f31b48, #940590, #0ab779);
    transition: transform 0.5s ease-out, width 1s ease-out, opacity 0.5s ease-out;
}

.my-dp {
    position: absolute;
    top: 0;
    height: 19.3em;
    transition: opacity 0.3s ease-in;
}

.info-wrapper {
    position: relative;
    height: 19.3em;
    padding: 2em;
    padding-left: 40%;
    color: #FFFFFF;
    opacity: 1;
    background: linear-gradient(140deg, #ff9800, #f31b48, #940590, #0ab779);
    transition: opacity 0.5s;
}

h1.name {
    position: relative;
    width: 5em;
    font-family: 'Playfair Display', serif;
    font-size: 5em;
    line-height: 0.95em;
    margin: 0;
    font-weight: normal;
}

.title {
    padding: 2em 0;
    font-size: 1em;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.github-link {
    position: absolute;
    right: 0.5em;
    font-size: 2.5em;
    top: 0.5em;
    text-decoration: none;
    color: #FFFFFF;
}

.main-loader {
    position: fixed;
    top: 213px;
    font-size: 43px;
}

/* Initial Header Styles - Start */

.initial-header .menu-section,
.initial-header .logo-header {
    opacity: 0;
    transition: none;
}

.initial-header .hello-card {
    opacity: 1;
}

.initial-header .me-card {
    transform: translate3d(0, 19.2em, 0);
    transition: none;
}

.initial-header .my-dp,
.initial-header .info-wrapper,
.initial-header .site-nav-list>li {
    opacity: 0;
}

/* Initial Header Styles - End */

/* Nav Style - Start*/

.site-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 5em;
}

.site-nav-list {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.site-nav-list li {
    font-size: 1.1em;
    float: left;
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
    width: 20%;
    color: #212121;
    cursor: pointer;
    outline: none;
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    -webkit-transition: opacity 0.5s, transform 0.6s;
    -moz-transition: opacity 0.5s, transform 0.6s;
    transition: opacity 0.5s, transform 0.6s;
}

.site-nav-list li.show {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.site-nav-list li.show:hover {
    -webkit-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
}

/* Nav Style - End */

/* Fixed n Search Header Styles - Start */
.main-header.fix-header,
.main-header.search-header {
    position: fixed;
    width: 100%;
    height: 3.8em;
    z-index: 10;
    top: 0;
}

.fix-header .logo-header {
    position: absolute;
}

.fix-header .hello-card,
.search-header .hello-card {
    display: none;
}

.fix-header .logo-section {
    margin-left: 0;
}

.fix-header .menu-icon-top {
    top: 0.7em;
}

.fix-header .menu-icon-bottom {
    top: 1.7em;
}

.search-header .logo-section {
    margin-left: -3em;
}

.search-header .menu-icon-top {
    top: 1.2em;
}

.search-header .menu-icon-bottom {
    top: 1.2em;
}

.search-header .logo-section {
    opacity: 0;
}

.fix-header .me-card-wrapper,
.search-header .me-card-wrapper {
    padding-top: 3.7em;
    height: 0.125em;
}

.fix-header .my-dp,
.search-header .my-dp,
.search-header .info-wrapper {
    opacity: 0;
}

.search-header .site-nav {
    display: none;
}

.search-header .search-wrapper {
    width: 100%;
}

.scroll-up-indicator {
    position: absolute;
    display: none;
    bottom: 10px;
    width: 80px;
    height: 5px;
    background: #dadada;
    left: 0;
    right: 0;
    margin: auto;
    border: thin solid transparent;
    border-radius: 5px;
}

.fix-header .site-nav {
    position: absolute;
    top: 3.7em;
    height: 0.0125em;
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: height 0.5s;
    z-index: 2;
    overflow: hidden;
    background: linear-gradient(140deg, #ff9800, #f31b48, #940590, #0ab779);
}

.fix-header .info-wrapper>*,
.search-header .info-wrapper>* {
    opacity: 1;
    transition: opacity 0.5s;
}

.fix-header .scroll-up-indicator {
    display: none;
}

.fix-header .site-nav-list {
    position: relative;
    width: 100%;
    min-height: 5em;
    height: auto;
    padding: 2em;
    opacity: 0;
}

.fix-header .site-nav-list li {
    font-size: 2.5em;
    float: none;
    text-transform: none;
    padding: 0;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: #FFFFFF;
    padding-top: 0.6em;
}

/* Fixed Header Styles - End */

/* Show Menu Styles - Start */

.show-menu .me-card,
.search-header .me-card {
    position: relative;
}

.fix-header.show-menu .site-nav {
    height: 90vh;
}

.show-menu .site-nav-list {
    opacity: 1;
}

.show-menu .menu-icon {
    opacity: 0;
    left: -20px;
}

.show-menu .menu-icon-top {
    top: 1.2em;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.show-menu .menu-icon-bottom {
    top: 1.2em;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
/* Show Menu Styles - End */

/* Nav Highlighter - Start */

.nav-highlighter-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.nav-highlighter {
    position: relative;
    height: 0.125em;
    left: 0;
    width: 0;
    background: #FFFFFF;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.nav-highlighter.art {
    background: #f31b48;
    left: 0;
    width: 20%;
}

.nav-highlighter.projects {
    background: #c6116b;
    left: 20%;
    width: 20%;
}

.nav-highlighter.blog {
    background: #940590;
    left: 40%;
    width: 20%;
}

.nav-highlighter.about {
    background: #28a6e4;
    left: 60%;
    width: 20%;
}

.nav-highlighter.contact {
    background: #0ab779;
    left: 80%;
    width: 20%;
}

.fix-header .nav-highlighter-wrapper {
    display: none;
}

/* Nav Highlighter - End */

/* Logo Style - Start */

.logo-section i {
    color: #FFFFFF;
}

.icon-logo-svg:before {
    content: "a";
    margin-top: -0.03em;
    display: block;
    font-size: 3em;
}

/* Logo Style - Start */

/* Search Style - Start */

.search-wrapper {
    position: absolute;
    display: inline-block;
    width: 85%;
    right: 0;
    z-index: 3;
}

.search-wrapper label {
    height: 0;
    width: 0;
    overflow: hidden;
    display: block;
}

.search-input {
    float: right;
    width: 2.5em;
    padding: 0;
    height: 2.5em;
    -webkit-transition: width 0.5s ease-out;
    -moz-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
}

.search-input input {
    border: none;
    height: 100%;
    width: 100%;
    background: #f5f4f4;
    box-shadow: 0 -10px 25px 0px rgba(0, 0, 0, 0.05) inset;
    padding: 0 0 0 2.5em;
    opacity: 0;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.search-header .search-input {
    width: 100%;
}

.search-header .search-input input {
    opacity: 1;
}

.search-header .menu-section {
    opacity: 0;
}

.search-wrapper button {
    position: absolute;
    top: 0;
    font-size: 1em;
    border: none;
    height: 38px;
    padding: 0;
    outline: none;
    z-index: 2;
}

.search-result-wrapper {
    position: fixed;
    top: 58px;
    z-index: -1;
    max-width: 55em;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 55em;
    padding: 20px 0;
    color: #212121;
}

.search-result-wrapper .initial-message {
    text-align: center;
    font-size: 1.5em;
    margin-top: 5em;
}

.search-result-wrapper .initial-message i {
    font-size: 3em;
    margin-left: 11px;
}

.search-result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5em 1em;
    border: thin solid #ebebeb;
    background: #FFFFFF;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.search-result:hover {
    transform: scale(1.01);
}

.result-thumb {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #ccc;
    margin: 0.25em 1em;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
}

.result-name {
    font-size: 1.5em;
}

.result-type {
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

/* Search Style - End */

/* Mobile Styles - Start */

@media (max-width: 650px) {
    .main-header {
        position: absolute;
        top: 0;
    }
    .logo-header {
        padding: 3px;
    }
    .menu-icon,
    .menu-icon-top,
    .menu-icon-bottom {
        background-color: #FFFFFF;
        height: 2px;
        top: 16px;
    }
    .menu-section {
        z-index: 5;
    }
    .logo-section {
        margin-left: 0;
        background-color: #FFFFFF;
    }
    .search-wrapper {
        opacity: 0;
        width: 100%;
        z-index: 1;
    }
    .search-input {
        width: 100%;
    }
    .search-header .search-wrapper,
    .show-menu .search-wrapper {
        opacity: 1;
        z-index: 3;
    }
    .mobile.show-menu .search-button {
        color: #FFFFFF;
    }
    .search-wrapper button {
        font-size: 1.2em;
    }
    .search-header .search-wrapper .search-input {
        width: 100%;
    }
    .search-header .logo-section,
    .search-header .menu-section {
        opacity: 0;
    }

    .menu-icon-top,
    .fix-header .menu-icon-top {
        top: 9px;
    }
    .menu-icon-bottom,
    .fix-header .menu-icon-bottom {
        top: 23px;
    }
    .fix-header.show-menu .menu-icon-top,
    .fix-header.show-menu .menu-icon-bottom {
        top: 16px;
    }
    .menu-section {
        float: right;
    }
    .hello-card {
        margin-top: 3em;
    }
    .main-header {
        height: auto;
    }
    .me-card-wrapper {
        padding: 0.65em;
        height: 157vw;
    }
    .me-card {
        height: auto;
    }
    .info-wrapper {
        font-size: 3vw;
        padding: 2em;
    }
    .site-nav {
        display: block;
        position: absolute;
        top: 0;
        margin-top: 4.1em;
        height: auto;
        transition: height 0.5s, margin-top 0.5s;
    }
    ul.site-nav-list {
        position: relative;
        width: 100%;
        min-height: 5em;
        height: auto;
        padding: 3em 0;
        opacity: 0;
    }
    ul.site-nav-list li {
        font-size: 2.5em;
        float: none;
        text-transform: none;
        padding: 0;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        color: #FFFFFF;
        padding-top: 0.6em;
    }
    .scroll-up-indicator {
        display: block;
    }
    /* Fixed & Search Header Styles - Start */
    .main-header.fix-header {
        overflow: visible;
        height: 4.2em;
        min-height: 4.2em;
    }
    .fix-header .logo-section,
    .search-header .logo-section {
        background: #212121;
    }
    .fix-header .menu-icon,
    .fix-header .menu-icon-top,
    .fix-header .menu-icon-bottom,
    .search-header .menu-icon,
    .search-header .menu-icon-top,
    .search-header .menu-icon-bottom {
        background: #212121;
    }
    .fix-header .info-wrapper,
    .search-header .info-wrapper {
        margin-top: 0;
    }
    .fix-header .info-wrapper>*,
    .search-header .info-wrapper>* {
        opacity: 0;
    }
    .fix-header .my-dp,
    .search-header .my-dp {
        display: none;
    }
    .fix-header .site-nav {
        display: block;
        position: absolute;
        top: 0;
        margin-top: 4.1em;
        z-index: 6;
        transition: height 0.5s, margin-top 0.5s;
    }
    .fix-header .site-nav-list {
        padding: 4em 0;
    }
    .fix-header .me-card-wrapper,
    .search-header .me-card-wrapper {
        padding-top: 4.1em;
        padding-bottom: 0;
        height: 2px;
    }
    /* Fixed Header Styles - End */
    /* Initial Header Styles - Start */
    .initial-header .me-card {
        transform: translate3d(0, 40px, 0);
        opacity: 0;
    }
    .initial-header .info-wrapper {
        position: relative;
        margin-top: 0;
    }
    .initial-header .my-dp {
        display: none;
    }
    /* Initial Header Styles - End */
    /* Show Menu Styles - Start */
    .show-menu .my-dp {
        opacity: 0;
    }
    .show-menu .info-wrapper {
        opacity: 0;
        transition: opacity 0.2s ease-out;
    }
    .show-menu .search-input {
        color: #FFFFFF;
    }
    .show-menu .site-nav {
        margin-top: 0.65em;
        z-index: 6;
    }
    .show-menu .logo-section {
        opacity: 0;
    }
    .show-menu .menu-icon-top,
    .show-menu .menu-icon-bottom,
    .show-menu .menu-icon {
        background: #FFFFFF;
    }
    .show-menu .search-button {
        color: #FFFFFF;
    }
    /* Show Menu Styles - End */
    .dp.my-dp {
        height: 94vw;
        float: none;
    }
    .logo-section i {
        color: #212121;
    }
    .fix-header .logo-section i {
        color: #FFFFFF;
    }
}

@media (max-width: 650px) and (min-width: 450px) {
    .me-card {
        width: 80%;
        max-width: 370px;
    }
    .logo-header.center-stage {
        width: 70%;
        max-width: 370px;
    }
}