.main-header {
    position: relative;
    width: 100%;
    background: #fff;
    height: 38em;
    box-shadow: 0 2px 20px rgba(0,0,0,.1);
    border: thin solid #FFFFFF;
    border-bottom: none;
    padding: 0;
    transition: height 0.5s ease-out;
    margin-bottom: 5em;
    overflow: hidden;
}
.absolute-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.logo-menu {
    position: fixed;
    top: 0;
    margin: 11px auto;
    left: 0;
    right: 0;
    z-index: 30;
}
.menu-section, .logo-section {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 38px;
    background: #454545;
    opacity: 1;
    transition: margin 0.5s;
    outline: none;
    cursor: pointer;
    z-index: 1;
}
.menu-section {
    background: transparent;
}
.menu-icon, .menu-icon-top, .menu-icon-bottom {
    position: absolute;
    background-color: #454545;
    top: 19px;
    margin-left: 5px;
    left: 0;
    width: 28px;
    height: 2px;
    content: '';
    -webkit-transition: all .5s;
    transition: all .5s;
}
.logo-section {
    margin-left: -53px;
}
.search-button {
    float: right;
    font-size: 1.8em;
    margin: 4px 8px;
    color: #454545;
}
.hello-card {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 2.8em;
    font-size: 4em;
    line-height: 1em;
    color: #696969;
    opacity: 0;
    transition: opacity 0.5s;
}

.loading-icon.initial-loader {
    position: relative;
    margin-bottom: 0.2em;
    height: 0.25em;
    width: 0.25em;
}

.me-card-wrapper {
    position: relative;
    margin-top: 160px;
    left: 0;
    right: 0;
    height: 19.3em;
    overflow: hidden;
    transition: margin-top 0.5s ease-out;
}

.menu-background {
    position: fixed;
    top: 59px;
    width: 100%;
    height: 100vh;
    background: #ebebebd9;
    z-index: 2;
}

.me-card {
    position: absolute;
    height: 100%;
    margin: 0 auto 0;
    transform: translateY(0);
    left: 0;
    right: 0;
    background: linear-gradient(140deg, #ff9800, #f31b48, #940590, #0ab779);
    transition: transform 0.5s ease-out, width 0.5s ease-out; 
}

.dp.my-dp {
    position: absolute;
    top: 0;
    height: 19.3em;
    transition: opacity 0.3s ease-in;
}

.my-card-wrapper {
    height: 19.3em;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2em;
    padding-left: 40%;
    color: #FFFFFF;
}

.my-card {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2em;
    padding-left: 40%;
    color: #FFFFFF;
    transition: all 0.6s; 
}

h1.name {
    position: relative;
    width: 5em;
    font-family: 'Playfair Display', serif;
    font-size: 5em;
    line-height: 0.95em;
    transition: opacity 0.5s;
    margin: 0;
    font-weight: normal;
}

.title {
    padding: 2em 0;
    font-size: 1em;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: opacity 0.5s;
}

.github-link {
    position: absolute;
    right: 0.5em;
    font-size: 2.5em;
    top: 0.5em;
    transition: opacity 0.5s ease-in;
}

.main-loader {
    position: fixed;
    top: 213px;
    font-size: 43px;
}

/* Initial Header Styles - Start */
.initial-header .menu-section, .initial-header .logo-menu {
    opacity: 0;
    transition: none;
}

.initial-header .hello-card {
    opacity: 1;
}

.initial-header .me-card {
    transform: translateY(19.2em);
    transition: none;
}

.initial-header .my-dp,
.initial-header .name,
.initial-header .title,
.initial-header .github-link  {
    opacity: 0;
}
.initial-header .site-nav-list>li {
    opacity: 0;
}
.initial-header .my-card {
    padding-top: 0;
    padding-bottom: 0;
}
/* Initial Header Styles - End */

/* Fixed n Search Header Styles - Start */
.main-header.fix-header,
.main-header.search-header {
    position: fixed;
    width: 100%;
    height: 61px;
    z-index: 10;
}
.fix-header .hello-card,
.search-header .hello-card {
    display: none;
}

.fix-header .logo-section {
    margin-left: 0;
}
.fix-header .menu-icon-top {
    top: 11px;
}
.fix-header .menu-icon-bottom {
    top: 27px;
}
.search-header .logo-section {
    margin-left: -50px;
}
.search-header .menu-icon-top {
    top: 19px;
}
.search-header .menu-icon-bottom {
    top: 19px;
}

.fix-header .me-card-wrapper,
.search-header .me-card-wrapper {
    overflow: visible;
}

.fix-header .me-card,
.search-header .me-card {
    transform: translateY(-102px);
}

.fix-header .my-dp,
.fix-header .name,
.fix-header .title,
.fix-header .github-link,
.search-header .my-dp,
.search-header .name,
.search-header .title,
.search-header .github-link  {
    opacity: 0;
}

.search-header .site-nav {
    display: none;
}
.fix-header .site-nav {
    position: fixed;
    background: linear-gradient(140deg, #ff9800, #f31b48, #940590, #0ab779);
    top: 58px;
    height: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: height 0.5s;
    z-index: 2;
}
.fix-header ul.site-nav-list {
    position: relative;
    width: 100%;
    min-height: 5em;
    height: auto;
    padding: 3em 0;
    opacity: 0;
}
.fix-header ul.site-nav-list li {
    font-size: 2.5em;
    float: none;
    text-transform: none;
    padding: 0;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: #FFFFFF;
    padding-top: 0.6em;
}

/* Fixed Header Styles - End */

/* Show Menu Styles - Start */
.show-menu .me-card,
.search-header .me-card {
    position: relative;
}
.show-menu .my-card>*,
.search-header .my-card>* {
    display: none;
}
.show-menu .site-nav,
.search-header .site-nav {
    height: 35em;
}
.show-menu ul.site-nav-list {
    opacity: 1;
}
/* Show Menu Styles - End */

.fix-header.show-menu .menu-icon {
    opacity: 0;
    left: -20px;
}
.fix-header.show-menu .menu-icon-top {
    top: 19px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.fix-header.show-menu .menu-icon-bottom {
    top: 19px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* Nav Highlighter - Start */
.nav-highlighter {
    position: relative; 
    height: 2px;
    left: 0;
    width: 0;
    background: #FFFFFF;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.nav-highlighter.art {
    background: #f31b48;
    left: 0;
    width: 20%;
}
.nav-highlighter.projects {
    background: #c6116b;
    left: 20%;
    width: 20%;
}
.nav-highlighter.blog {
    background: #940590;
    left: 40%;
    width: 20%;
}
.nav-highlighter.about {
    background: #28a6e4;
    left: 60%;
    width: 20%;
}
.nav-highlighter.contact {
    background: #0ab779;
    left: 80%;
    width: 20%;
}
.fix-header .nav-highlighter-wrapper {
    display: none;
}
/* Nav Highlighter - End */

/* Logo Style - Start */
.logo-section i {
    color: #FFFFFF;
}

.icon-logo-svg:before {
    content: "a";
    margin-top: -3px;
    display: block;
    font-size: 50px;
}
/* Logo Style - Start */

/* Search Style - Start */
.search-wrapper {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
    padding-left: 55px;
}

.search-wrapper label {
    height: 0;
    width: 0;
    overflow: hidden;
    display: block;
}

.search-wrapper input {
    float: right;
    width: 0;
    padding: 0;
    height: 38px;
    border: none;
    background: #f5f4f4;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 -10px 25px 0px rgba(0,0,0,0.05) inset;
    -webkit-transition: width 0.5s ease-out;
    -moz-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
}

.search-header .search-wrapper input {
    width: 100%;
    padding: 0 10px;
}

.search-wrapper button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: 38px;
    padding: 0;
    outline: none;
}

.search-result-wrapper {
    position: fixed;
    top: 58px;
    z-index: -1;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 55em;
    padding: 20px 0;
    color: #454545;
    height: 35em;
}

.search-result-wrapper .initial-message {
    text-align: center;
    font-size: 1.5em;
    margin-top: 5em;
}

.search-result-wrapper .initial-message i {
    font-size: 3em;
    margin-left: 11px;
}

.search-result {
    width: 100%;
    min-height: 100px;
    padding: 10px 20px;
    border: thin solid #e6e6e6db;
    background: #FFFFFF;
    box-shadow: 0 11px 20px rgba(0,0,0,.1);
}
/* Search Style - End */

/* Mobile Styles - Start */
@media (max-width: 650px) {
    .logo-menu {
        margin: 9px auto;
        z-index: 7;
        padding: 1px 3px;
    }
    .logo-section, .menu-icon, .menu-icon-top, .menu-icon-bottom{
        background: #FFFFFF;
    }
    .logo-section {
        margin-left: 0;
        transition: background 0.5s;
    }
    .search-wrapper button {
        display: none;
    }
    .menu-icon-top {
        top: 11px;
    }
    .menu-icon-bottom {
        top: 27px;
    }
    .menu-section {
        float: right;
        width: 40px;
    }
    .hello-card {
        margin-top: 3em;
    }
    .main-header {
        height: 162vw;
        padding: 0.5em 0;
        border-bottom: 10px solid #FFFFFF;
        overflow: hidden;
    }
    .me-card-wrapper {
        margin-top: 0;
        height: 100%;
    }
    .my-card-wrapper {
        position: absolute;
        bottom: 0;
        padding: 20px;
        height: 60vw;
        font-size: 3vw;
    }
    .my-card {
        position: relative;
        width: 100%;
        height: auto;
        font-size: 10px;
        padding-left: 2em;
    }

    .site-nav {
        display: none;
    }

    /* Fixed & Search Header Styles - Start */
    .fix-header .logo-menu,
    .search-header .logo-menu {
        z-index: 20;
    }
    .fix-header .logo-section, 
    .search-header .logo-section {
        background: #454545;
    }
    .fix-header .menu-icon, 
    .fix-header .menu-icon-top, 
    .fix-header .menu-icon-bottom,
    .search-header .menu-icon, 
    .search-header .menu-icon-top, 
    .search-header .menu-icon-bottom {
        background: #454545;
    }
    .fix-header .me-card-wrapper,
    .seach-header .me-card-wrapper {
        margin-top: 51px;
    }
    .fix-header .me-card,
    .search-header .me-card {
        height: 2px;
    }
    .fix-header .my-card-wrapper,
    .search-header .my-card-wrapper {
        margin-top: 0;
    }
    .fix-header .my-dp,
    .search-header .my-dp {
        display: none;
    }
    .fix-header .my-card,
    .search-header .my-card {
        margin-top: 0
    }
    .fix-header .site-nav {
        display: block;
    }
    .fix-header.show-menu .my-card,
    .search-header.show-menu .my-card {
        height: 43.5em;
    }
    /* Fixed Header Styles - End */

    /* Initial Header Styles - Start */
    .initial-header .me-card {
        transform: translateY(153.5vw);
    }
    .initial-header .my-card-wrapper {
        position: relative;
        margin-top: 0;
    }
    .initial-header .my-dp {
        display: none;
    }
    .initial-header .my-card {
        margin-top: 0;
    }
    /* Initial Header Styles - End */

    .show-menu .my-card-wrapper {
        transition: margin-top 0.5s;
    }

    .dp.my-dp {
        height: 94vw;
    }
    .logo-section i {
        color: #454545;
    }
    .fix-header .logo-section i {
        color: #FFFFFF;
    }
}

@media (max-width: 650px) and (min-width: 450px) {
    .me-card {
        width: 80%;
        max-width: 370px;
    }
    .logo-menu.center-stage {
        width: 70%;
        max-width: 370px;
    }
}