/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: "Playfair Display";
    src: url("assets/fonts/PlayfairDisplay-Regular.eot"),
         url("assets/fonts/PlayfairDisplay-Regular.ttf") format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

* {
    box-sizing: border-box;
}
.main-content section {
    margin: 2em 0;
    min-height: 400px;
}

@import url("icon-styles.css");

@import url("bootstrap-responsive.css");


/* Tab Styles - Start */
@media (max-width: 950px) {
    body {
        font-size: 13px;
    }
}
