/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: "Playfair Display";
    src: url("assets/fonts/PlayfairDisplay-Regular.eot"),
         url("assets/fonts/PlayfairDisplay-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face{
    font-family: "Playfair Display";
    src: url("assets/fonts/PlayfairDisplay-Bold.eot"),
         url("assets/fonts/PlayfairDisplay-Bold.ttf") format('truetype');
    font-weight: 700;
}

@font-face{
    font-family: "Roboto";
    src: url("assets/fonts/Roboto-Thin.ttf") format('truetype');
    font-weight: 100;
}
@font-face{
    font-family: "Roboto";
    src: url("assets/fonts/Roboto-Light.ttf") format('truetype');
    font-weight: 200;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
body::-webkit-scrollbar {
    width: 6px;
	background-color: transparent;
}
 
body::-webkit-scrollbar-track {
	background-color: transparent;
}

body::-webkit-scrollbar-thumb
{
	background-color: #ccc;
}

.main-content section {
    min-height: 400px;
}
.loading-icon {
    position: absolute;
    font-size: 3em;
    color: #454545;
    margin: auto;
    width: 1em;
    height: 1em;
    left: 0;
    right: 0;
    display: none;
    border-top: 2px solid #454545;
    border-right: 3px solid #454545;
    border-bottom: 3px solid transparent;
    border-radius: 50%;
}
.loading-icon.animate {
    display: block;
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


@import url("icon-styles.css");

@import url("bootstrap-responsive.css");


/* Tab Styles - Start */
@media (max-width: 950px) {
    body {
        font-size: 13px;
    }
}
