/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Playfair Display";
    src: url("assets/fonts/PlayfairDisplay-Regular.eot"), url("assets/fonts/PlayfairDisplay-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Playfair Display";
    src: url("assets/fonts/PlayfairDisplay-Bold.eot"), url("assets/fonts/PlayfairDisplay-Bold.ttf") format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto-Thin.ttf") format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto-Light.ttf") format('truetype');
    font-weight: 200;
}

* {
    box-sizing: border-box;
}

body {
    background: #fafafa;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.main-content section {
    min-height: 400px;
}

.loading-icon {
    position: absolute;
    font-size: 3em;
    color: #454545;
    margin: auto;
    width: 1em;
    height: 1em;
    left: 0;
    right: 0;
    border: 2px solid #ccc;
    border-top: 2px solid #454545;
    border-radius: 50%;
    opacity: 0;
}

.loading-icon.animate {
    opacity: 1;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.47, .37, .3, .93);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.inline-middle {
    display: inline-block;
    vertical-align: middle;
}

/* Left Right Arrow Styles - Start */

.arrow-btn {
    position: absolute;
    top: 0;
    height: 100%;
    color: #FFFFFF;
    font-size: 2em;
}

.arrow-btn i {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 25px;
    margin: auto;
    font-size: 1.3em;
}

.arrow-btn i:before {
    position: relative;
    top: -10px;
}

.arrow-btn.left {
    left: 0;
    box-shadow: inset 10px 0 15px 0 rgba(0, 0, 0, 0.25);
}

.arrow-btn.left i {
    left: 0;
}

.arrow-btn.right {
    right: 0;
    box-shadow: inset -10px 0 15px 0 rgba(0, 0, 0, 0.25);
}

.arrow-btn.right i {
    right: 0;
}

/* Left Right Arrow Styles - End */

/* Tab Styles - Start */

@media (max-width: 950px) {
    body {
        font-size: 13px;
    }
}