/* Overview Styles - Start */
.home-content {
    margin-top: 15em;
    opacity: 1;
    transition: opacity 1s;
}
.home-content.hide {
    opacity: 0;
}
.overview {
    position: relative;
    display: inline-block;
    background: #FFFFFF;
    width: 100%;
    height: 25em;
    margin: 3em 0;
    box-shadow: 0 1px 4px rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.09);
    transform: translateY(0);
    transition: transform 0.8s ease-out;
}
.overview.below-view {
   transform: translateY(300px);
}
.overview.above-view {
   transform: translateY(-300px);
}

.dp.overview-dp {
    background: #333333;
    height: 25em;
}
.overview:nth-child(odd) .overview-dp {
    float: right;
}
.overview h2 {
    font-size: 4em;
    font-weight: normal;
    color: #FFFFFF;
    padding: 35px 0;
    text-align: center;
    transform: translateY(0);
    transition: transform 1.5s;
}
.overview.below-view h2 {
    transform: translateY(50px);
}
.overview .alpha-initial-bg {
    position: absolute;
    font-size: 20em;
    top: -150px;
    left: -29px;
    color: #FFFFFF;
    opacity: 0.05;
}
.overview .underline {
    height: 5px;
    width: 100px;
    background: #f31b48;
    position: absolute;
    top: 25px;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    transition: width 1.5s;
}
.overview.below-view .underline {
    width: 10px;
}
.overview-content-wrapper {
    height: 100.5%;
    width: 74%;
    background-size: 120%;
    background-position: right;
    background-repeat: no-repeat;
}
.art-overview .overview-content-wrapper {
    background-image: url(../../assets/images/sketch.jpg);
}
.art-overview .underline {
    background: #f31b48;
}
.projects-overview .underline {
    background: #c6116b;
}
.skills-overview .underline {
    background: #940590;
}
.about-overview .underline {
    background: #28a6e4;
}
.contact-overview .underline {
    background: #0ab779;
}
.overview button {
    border-color: #FFFFFF;
    color: #FFFFFF;
    transition: background 0.5s;
}
.overview button:hover {
    background: #FFFFFF;
    color: #333333;
    font-weight: bold;
}
/* Overview Styles - End */

@media (max-width: 650px) {
    .home-content {
        margin-top: 30em;
    }
    .overview button {
        margin-top: -30px;
    }
}