/* Overview Styles - Start */
.home-content {
    margin-top: 10em;
}

.home-content.fix {
    margin-top: 115vh;
}

.scroll-indicator {
    position: fixed;
    right: 2em;
    top: 25vh;
    width: 1px;
    min-height: 19.3em;
    height: 22vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-anchors {
    width: 15px;
    height: 15px;
    background: transparent;
    border-radius: 50%;
    position: relative;
    border: thin solid transparent;
    cursor: pointer;
}

.home-anchors .inner-dot {
    position: absolute;
    background: #adadad;
    border-radius: 50%;
    width: 3px;
    height: 3px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.home-anchors:hover {
    border: thin solid #adadad;
}

.home-anchors:hover .inner-dot {
    background: #2196F3;
}

.home-anchors.active {
    border: thin solid #ccc;
}

.home-anchors.active .inner-dot {
    width: 5px;
    height: 5px;
    background: #2196F3;
}

.overview-wrapper {
    height: 95vh;
}

.overview {
    position: relative;
    display: inline-block;
    background: #FFFFFF;
    width: 100%;
    min-height: 24em;
    height: 22vw;
    margin: 3em 0;
    box-shadow: 0 1px 4px rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.09);
}

.dp.overview-dp {
    background: #333333;
    height: 100%;
    text-align: center;
}
.overview-wrapper:nth-child(odd) .overview-dp {
    float: right;
}
.overview-wrapper:nth-child(even) .overview-dp {
    float: left;
}
.overview-wrapper:nth-child(odd) .overview-content-wrapper {
    float: left;
}
.overview-wrapper:nth-child(even) .overview-content-wrapper {
    float: right;
}
.overview h2 {
    font-size: 4em;
    font-weight: normal;
    color: #FFFFFF;
    padding: 35px 0;
    text-align: center;
    transform: translate3d(0, 0, 0);
    transition: transform 1.5s;
}
.overview.below-view h2 {
    transform: translate3d(0, 50px, 0);
}
.overview .alpha-initial-bg {
    position: absolute;
    font-size: 20em;
    top: -150px;
    left: -29px;
    color: #FFFFFF;
    opacity: 0.05;
}
.overview .underline {
    height: 5px;
    width: 100px;
    background: #f31b48;
    position: absolute;
    top: 25px;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    transition: width 1.5s;
}
.overview.below-view .underline {
    width: 10px;
}
.overview-content-wrapper {
    position: relative;
    width: 65%;
    height: 100%;
}
.overview-content-background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-size: 120%;
    background-position: right;
    background-repeat: no-repeat;
}
.overview-content {
    position: absolute;
    top: 0;
    padding: 3em 1em;
    font-size: 2.25em;
    font-family: Roboto;
    font-weight: 100;
    color: #fff;
    width: 65%;
}
.overview-wrapper:nth-child(odd) .overview-content {
    left: 0;
    text-align: left;
}
.overview-wrapper:nth-child(even) .overview-content {
    right: 0;
    text-align: right;
}
.art-overview .overview-content-background {
    background-image: url(../../assets/images/sketch.jpg);
}
.art-overview .underline {
    background: #f31b48;
}
.projects-overview .underline {
    background: #c6116b;
}
.blog-overview .underline {
    background: #940590;
}
.about-overview .underline {
    background: #28a6e4;
}
.contact-overview .underline {
    background: #0ab779;
}

.art-overview .overview-content-wrapper {
    background: linear-gradient(140deg, #fd7819, #f31b48);
}
.projects-overview .overview-content-wrapper {
    background: linear-gradient(140deg, #f31b48, #940590);
}
.blog-overview .overview-content-wrapper {
    background: linear-gradient(140deg, #940590, #28a6e4);
}
.about-overview .overview-content-wrapper {
    background: linear-gradient(140deg, #28a6e4, #0ab732);
}
.contact-overview .overview-content-wrapper {
    background: linear-gradient(140deg, #0ab779, #0ab70f);
}

.overview .button-wrapper {
    border-color: #FFFFFF;
}
.overview .button-wrapper .background {
    background: #FFFFFF;
}
.overview .button-wrapper button {
    color: #FFFFFF;
}
.overview .button-wrapper:hover button {
    color: #333333;
    font-weight: bold;
}
/* Overview Styles - End */

.fixed {
    position: fixed;
    top: 0;
    z-index: 10;
}

@media (max-width: 650px) {
    .home-content {
        margin-top: 0;
    }
    .home-content.adjust-fix {
        margin-top: 157vw;
    }
    .overview-wrapper {
        min-height: 550px;
        height: 80vh;
    }
    .overview .alpha-initial-bg {
        top: -80px;
        left: 0;
        right: 0;
    }
    .overview-content-wrapper {
        width: 100%;
        height: auto;
    }
    .overview-content-wrapper:nth-child(even) .overview-content,
    .overview-content-wrapper:nth-child(odd) .overview-content {
        position: relative;
        width: 100%;
        text-align: center;
        padding: 2em 1em;
    }
}